<%- include('partials/header.ejs') %>
    <h1>Earth</h1>
    <div class="container">
      <img src="earth.jpg" alt="">
      <p class="planetInfo">This is earth.</p>
    </div>

<%- include('partials/footer.ejs') %>
  </body>
</html>
