<%- include('partials/header.ejs') %>
    <h1>Earth</h1>
    <div class="container">
      <img src="earth.jpg" alt="">
      <p class="planetInfo">If you are reading this, you are probably located on planet Earth right now! It is the third planet away from the sun and resides in what is known as the habitable zone. This is the region of space that is close enough to the sun so it doesn't freeze, but not so close that it is too hot for life. It is also known as the goldilocks zone, because like in the children's story, it is not too hot not too cold but just right.</p>
    </div>

<%- include('partials/footer.ejs') %>
  </body>
</html>
