<%- include('partials/header.ejs') %>
<h1>Jupiter</h1>
<div class="container">
  <img src="jupiter.jpg" alt="Planet Jupiter" />
  <p class="planetInfo">
    Jupiter is the fifth planet from the sun and the first of what are called
    the "outer planets", which collectively make up 99% of the mass orbiting the
    sun. Jupiter is known as a "gas giant" because it is made up primarily of
    light gaseous elements hydrogen and helium, and it is 318 times as massive
    as the earth. Altogether, Jupiter has 2.5 times as much mass as all the
    other planets combined. Due to it's massive nature, Jupiter has very strong
    gravity which pulls in asteroids floating by and many of them have become
    moons. Jupiter has 80 such moons orbiting it. One of the cooles things about
    Jupiter is the great red spot: a huge atmospheric storm that has persisted
    for at least 350 years. This storm is the largest in the solar system, with
    wind-speeds up to 432 km/h (268mph). Massive!
  </p>
</div>
<%- include('partials/footer.ejs') %>
