<%- include('partials/header.ejs') %>
<h1>Mercury</h1>
<div class="container">
  <img src="<%= mercuryUrl %>" alt="Planet Mercury" />
  <p class="planetInfo">
    Mercury is the smallest planet on the solar system. With a 2,440km radiusm
    it is roughly about 1/3 the size of planet Earth. It is also the closest
    planet to the sun, which means it has a very short orbital period. A full
    year on mercury (once around the sun) takes about 88 earth days. Being so
    close to the sun also means Mercury is very hot, up to 427 degrees Celsius
    (800 Farenheit). What a crazy place.
  </p>
</div>
<%- include('partials/footer.ejs') %>
