<%- include('partials/header.ejs') %>
<h1>Venus</h1>
<div class="container">
  <img src="<%= venusUrl %>" alt="Planet Venus" />
  <p class="planetInfo">
    Venus is second-closest planet to the sun. It is roughly the same size as
    the earth. It has an atmosphere of thick, dense gas that gives it an extreme
    greenhouse effect, which causes the surface temperature to rise to over 400
    degrees Celsius (752 Farenheit). The Venusian atmosphere is about ninety
    times as dense as that of planet Earth. Similar to the Earth, Venus has a
    thick mantle around an iron core, which provides evidence of internal
    geological activity (Earthquakes!). This place is wild!
  </p>
</div>
<%- include('partials/footer.ejs') %>
