    <footer class="footerWrapper">
      <hr />
      <div class="footerContainer">
        <div class="footerImg">
          <img class="logo" src="csumb.png" alt="CSUMB Logo" />
        </div>
        <div class="disclaimer">
          CST336 Internet Programming. 2021&copy; Stoney. <br /><br />
          <strong>Disclaimer:</strong> The information in this webpage is for academic purposes only. <br/>Background image: Photo by <a class="bgImg" href="https://unsplash.com/@freedomstudios?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Graham Holtshausen</a> on <a class="bgImg" href="https://unsplash.com/s/photos/space-stars?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
          <br/>Planet imagery and text from wikipedia.
        </div>
        <br />
      </div>
    </footer>
  </body>
</html>
<!--
lab4/public/img/csumb.png
lab4/views/partials/footer.ejs
-->