<footer>
  &copy; 2021 Stoney, M. <br />
  California State University, Monterey Bay<br>
  <span class="attribution">Background by <a href="<%= ownerUrl %>"><%= imageOwner %></a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span>
  
</footer>
