<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Image Search</title>
    <style>
        body {
            background-image: url("<%= imageUrl %>");
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
        }
    </style>
  </head>

