* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
#container {
  background: rgb(80, 80, 255);
  background: linear-gradient(
    148deg,
    rgba(80, 80, 255, 1) 0%,
    rgba(172, 216, 230, 1) 78%
  );
  width: 60%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  overflow: scroll;
}

.listContainer {
  background-color: lightgray;
  padding: 20px 0 85px 0;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  position: relative;
}

#headerSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerImg {
  transform: scale(50%);
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

#inputSpan {
  position: relative;
}

#itemInput {
  height: 3em;
  width: 400px;
  position: relative;
  padding-left: 1em;
  border-style: none;
}

#itemInput:focus {
  border: none;
}

#plusIcon {
  position: absolute;
  right: 17px;
  bottom: 0;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

#list {
  line-height: 2em;
  font-size: 1.25em;
  list-style: none;
}

.listItem {
  position: relative;
  margin-left: 1em;
  border-bottom: 2px solid black;
  width: 90%;
}

#listSpan {
  left: 10px;
  max-width: 100%;
  left: 0;
}

#checkIcon {
  position: absolute;
  cursor: pointer;
  right: 60px;
  top: 10px;
}

#deleteIcon {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 10px;
}

.fas {
  background-color: lightgray;
  border: none;
  outline: none;
  position: inherit;
}

.fa-check {
  color: green;
}

.fa-ban {
  color: red;
}

button {
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  color: darkslategray;
  padding: 10px;
}

#clearList {
  bottom: 15px;
  right: 15px;
}

#renumberList {
  bottom: 15px;
  left: 15px;
}
