<footer>
    <p>This project sponsored by: <%= fakeCompany %></p>
    <p>Background Image:</p>
    Photo by
    <a
      href="https://unsplash.com/@moino007?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >DDP</a
    >
    on
    <a
      href="https://unsplash.com/backgrounds?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </footer>
</body>
</html>
