<%- include('partials/header.ejs') %>
<main class="mainContent">
  <h1>Just A Few CS Things</h1>
  <h3>
    Hello, and welcome to my page! Here, we will briefly cover the following
    NodeJS packages:
  </h3>
</main>
<div class="cards">
  <div class="cardImg">
    <a href="express.html"
      ><img src="/img/express_logo.png" alt="Express JS Logo"
    /></a>
    <h3 class="cardTitle">ExpressJS</h3>
    <p class="cardInfo">
      ExpressJS is a useful library for creating servers on top of NodeJS.
    </p>
  </div>
  <div class="cardImg">
    <a href="mongoose.html"
      ><img src="/img/mongoose_logo.png" alt="Mongoose JS Logo"
    /></a>
    <h3 class="cardTitle">MongooseJS</h3>
    <p class="cardInfo">
      Mongoose JS lets your app to connect to a MongoDB database.
    </p>
  </div>

  <div class="cardImg">
    <a href="socketio.html"
      ><img src="/img/socketIO_logo.svg" alt="Socket IO Logo"
    /></a>
    <h3 class="cardTitle">SocketIO</h3>
    <p class="cardInfo">
      SocketIO allows your app to use persistent TCP sockets.
    </p>
  </div>
</div>
<%- include('partials/footer.ejs') %>
