<%- include('partials/header.ejs') %>
<header class="header">
  <h1>MONGOOSE JS</h1>
</header>
<main class="main">
  <div class="content">
    <p class="blurb">
      MongooseJS is a javascript library that allows you to easily connect your
      web app to a MongoDB database. Visit
      <a href="https://www.mongoosejs.com">MongooseJS!</a>
    </p>
    <ul>
      <li class="listItem">
        <h3>NoSQL Database</h3>
        <p>
          MongoDB is a schemaless database, allowing your data to take whatever
          shape it needs to be.
        </p>
      </li>
      <li class="listItem">
        <h3>Asynchronous</h3>
        <p>
          MongooseJS supports the use of promises and callbacks, allowing you to
          handle your data processing with elegance and ease.
        </p>
      </li>
      <li class="listItem">
        <h3>Easy To Use</h3>
        <p>
          Mongoose integrates perfectly with NodeJS and ExpressJS to abstract
          away the complexity of javascript database access. It makes it easy!
        </p>
      </li>
    </ul>
  </div>
  <div class="imgContainer">
    <img src="./img/data.jpg" alt="" srcset="" />
    Photo by
    <a
      href="https://unsplash.com/@campaign_creators?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Campaign Creators</a
    >
    on
    <a
      href="https://unsplash.com/s/photos/data?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
      >Unsplash</a
    >
  </div>
</main>
<%- include('partials/footer.ejs') %>
